body {
  font-family: "Karla", sans-serif;
  font-size: clamp(16px, 2vw, 24px);
  background-color: rgb(228, 227, 227);
  color: black;
}

main {
  padding: 50px 50px 50px 50px;
  display: grid;
  max-width: 80%;
  min-height: 60vh;
  margin-inline: auto;
  grid-template-areas:
    "one one"
    "two three";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

@media (max-width: 600px) {
  main {
    grid-template-areas:
      "one"
      "two"
      "three";
    grid-template-columns: 1fr;
  }
}

h1 {
  color: hsl(179, 62%, 43%);
  padding-top: 24px;
  padding-bottom: 9px;
  text-align: left;
  font-size: 2vw;
}
h2 {
  color: hsl(71, 73%, 54%);
  font-size: 1.4vw;
}

h3 {
  color: hsl(204, 43%, 93%);
  font-size: 2vw;
  padding-top: 5px;
  padding-bottom: 5px;
}
p {
  color: hsl(218, 22%, 90%);
  font-size: 1.5vw;
  line-height: 1.2rem;
  padding-bottom: 13px;
}

p2 {
  color: hsl(218, 22%, 83%);
  font-size: 1.5vw;
  line-height: 1.2rem;
  padding-bottom: 10px;
  align-items: center;
}
p3 {
  color: hsl(218, 22%, 70%);
  font-size: 1.5vw;
  line-height: 1.2rem;
  padding-bottom: 30px;
}
ul {
  list-style-type: none;
  /* color: hsl(204, 43%, 98%); */
  font-size: 1vw;
  padding: 0;
  margin: 0;
  padding-bottom: 25px;
  line-height: 2vw;
}
li {
  color: hsl(204, 43%, 87%);
  font-size: 1.5vw;
  line-height: 18px;
}

div {
  padding-left: 35px;
  min-height: 100px;
}

.uppercard {
  grid-area: one;
  background-color: white;
  color: hsl(218, 22%, 67%);
}

.lowerleft {
  grid-area: two;
  background-color: hsl(179, 62%, 43%);
  overflow-wrap: break-word;
  box-sizing: border-box;
  padding: 5% 10%;
  text-align: left;
}

button {
  margin: auto;
  display: block;
  background-color: hsl(71, 73%, 54%);
  color: white;
  border: none;
  border-radius: 5px;
  width: 50%;
  padding: 12px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.22);
}

button:hover {
  cursor: pointer;
  /* border: solid;
  border-width: 1px;
  border-color: black; */
  background-color: hsl(71, 73%, 44%);
  transition: 0.2s;
  font-size: 2vw;
  /* color: hsl(179, 62%, 43%); */
}

.lowerright {
  grid-area: three;
  background-color: hsl(179, 62%, 45%);
  overflow-wrap: break-word;
  box-sizing: border-box;
  padding: 5% 10%;
  text-align: left;
}

.cardtextalign {
  align-items: left;
}

#dollar::before {
  content: "$29";
  font-size: 2.5vw;
  color: white;
  padding-right: 5px;
}

.attribution {
  color: black;
}
